<h2>Additional filters</h2>
<div class="col-sm-3">
	<select name="name" id="nameSelect" ng-model="eyeColor" class="form-control">
		<option value='' disabled selected style='display:none;'>Please Choose eye color</option>
		<option value="green">green</option>
		<option value="blue">blue</option>
		<option value="brown">brown</option>
	</select>	

</div>
<div class="col-sm-3">
	<input type="text" ng-model="name" class="form-control" placeholder="name">
</div>
<div class="col-sm-3">
	<input type="text" ng-model="all" class="form-control" placeholder="all">
</div>
<br><br>
<table object-table 
from-url="http://beta.json-generator.com/api/json/get/DXXROxj" 
data="exportDataVariable5" 
display="10" 
headers="Name, Eye color, Age,Balance,Company,Home address,Favorite Fruit" 
fields="name,eyeColor,age,balance,company,address,favoriteFruit" 
add-filter="| filter:{'name':$owner.name} |filter:{'eyeColor':$owner.eyeColor} | filter:$owner.all" 
search="false"
></table>
<hr>