<div>

<div class="col-sm-8 sorting-container" ng-if="sortingType">
		Sorting order: <div ng-repeat="sortField in sort.fields" class="sorting-badge">
		<span class="glyphicon " 
		ng-class="{'glyphicon-chevron-down':sort.reverse[$index],
		'glyphicon-chevron-up':!sort.reverse[$index]}" 
		></span> 

		{{::sortField}}
		<span class="glyphicon glyphicon-remove close" ng-click="removeSorting()"></span> 


	</div>
</div>

<div class="form-group col-sm-4">
<input type="text" ng-if="search" placeholder="Search" ng-model="$parent.globalSearch" class="pull-right form-control search">

</div>

<div class="clearfix"></div>

	<table class="table table-responsive table-bordered">
		<thead ng-if="headers.length" >
			<tr>
				<th ng-repeat="head in headers track by $index" 
				    ng-click="sortBy(head)"
			        ng-class="headerIsSortedClass(head)"
			        class="sortable">{{::head}}</th>
			</tr>
		</thead>

		<tbody ng-if="!findBody">

			<tr id="rowTr"><!-- <= will inject ng-repeat -->
				<!-- params: headers and all fields -->
				<td ng-if="!fields.length" ng-repeat="(key, prop) in item">{{prop}}</td>
				<!-- params: headers and fields -->
				<td ng-if="fields.length" ng-repeat="field in fields">{{item[field]}}</td>
			</tr>

		</tbody>
	</table>

<pagging ng-if="pagging" data-display="display"></pagging>


 <!-- debug:
<br>
Sort: {{sort}}
<br>
Sorting Array: {{sortingArray}}
<br>
current Page : {{currentPage}}
</div> -->