	<div>
		<div class="col-xs-9">
			<nav ng-hide="pageCount()==0">
				<ul class="pagination">
					<li ng-class="prevPageDisabled()">
						<a href ng-click="prevPage()">« Prev</a>
					</li>
					<li ng-repeat="n in range()"
					ng-class="{active: n == currentPage}" ng-click="setPage(n)">
					<a href="javascript:void(0)">{{::n+1}}</a>
				</li>
				<li ng-class="nextPageDisabled()">
					<a href ng-click="nextPage()">Next »</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="col-xs-3">
		<span class="label label-default count">{{count}} <span class="records">records</span></span>
	</div>
</div>

