<!DOCTYPE html>
<html lang="en" ng-app="test">

<head>
    <meta charset="UTF-8">
    <title>jTable Example</title>
    <link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../build/object-table-style.css">
    <link rel="stylesheet" type="text/css" href="../build/themes/dark-sky.css">
    <link rel="stylesheet" type="text/css" href="../build/themes/blue-dust.css">
    <link rel="stylesheet" type="text/css" href="../example/css/style.css">
    <style>
    ._personal_inf {
        background-color: rgb(212, 255, 227);
        color: green;
    }
    
    .additional_inf {
        background-color: rgb(230, 241, 246);
    }
    
    .selected {
        background-color: red;
    }
    </style>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>
<!-- bower:js -->
<!-- endbower -->
<script type="text/javascript" src="../src/js/contentEditableDirective.js"></script>
<script type="text/javascript" src="../src/js/directive.js"></script>
<script type="text/javascript" src="../src/js/objectTableSortingCtrl.js"></script>
<script type="text/javascript" src="../src/js/objectTablePagingCtrl.js"></script>
<script type="text/javascript" src="../src/js/objectTableCtrl.js"></script>
<script type="text/javascript" src="../src/js/draggableDirective.js"></script>
<script type="text/javascript" src="../src/js/pagingDirective.js"></script>
<script type="text/javascript" src="../src/js/objectTableFilters.js"></script>
<script type="text/javascript" src="../src/js/objectTableUtilService.js"></script>
<script type="text/javascript" src="example.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>

<body ng-controller="mainController">
    <div class="col-sm-12">
        <h2>Row custom</h2>
        <table object-table from-url="http://beta.json-generator.com/api/json/get/DXXROxj" data="exportDataVariable" display="10" search="separate" headers="Name, Eye color, Age,Balance,Company,Home address,Favorite Fruit" fields="name,eyeColor,age,balance,company,address,favoriteFruit" sorting="compound" drag-columns="true">
            <tbody>
                <tr>
                    <td editable>{{::item.name}}</td>
                    <td>
                        <div class="{{::item.eyeColor}} eye"></div>
                        {{::item.eyeColor}}
                    </td>
                    <td>{{::item.age}}</td>
                    <td style="background-color:rgb(212, 255, 227)">{{::item.balance}}</td>
                    <td>{{::item.company}}</td>
                    <td>{{::item.address}}</td>
                    <td>{{::item.favoriteFruit}}</td>
                </tr>
            </tbody>
        </table>
        <h2>Patel</h2> --
        <table object-table data="dataTeacherSearch" headers="Name, Department, Category" fields="name, department, category">
            <tbody ng-non-bindable>
                <tr ng-click="$owner.showTeacherDetails(item)">
                    <td>{{item.name.firstName}}&nbsp;{{item.name.middleName}}&nbsp;{{item.name.lastName}}</td>
                    <td ng-repeat="items in item.department" ng-if="items.status">
                        <span>{{items.dept}}</span>
                    </td>
                    <td ng-repeat="designation in item.designation" ng-if="designation.status">
                        <span>{{designation.status}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <table object-table from-url="http://beta.json-generator.com/api/json/get/DXXROxj" data="exportDataVariable4" display="10" headers="Name, Eye color, Age,Balance,Company,Favorite Fruit" fields="name,eyeColor,age,balance,company,favoriteFruit" resize="true">
            <thead>
                <tr>
                    <th ng-click="sortBy('name')" ng-class="headerIsSortedClass('Name')" class="sortable" allow-drag>Name</th>
                    <th ng-click="sortBy('eyeColor')" ng-class="headerIsSortedClass('Eye color')" class="sortable" allow-drag>Eye color</th>
                    <th ng-click="sortBy('age')" ng-class="headerIsSortedClass('Age')" class="sortable" allow-drag>Age</th>
                    <th ng-click="sortBy('balance')" ng-class="headerIsSortedClass('Balance')" class="sortable" allow-drag>Balance</th>
                    <th ng-click="sortBy('company')" ng-class="headerIsSortedClass('Company')" class="sortable" allow-drag>Company</th>
                    <th ng-click="sortBy('favoriteFruit')" ng-class="headerIsSortedClass('Favorite Fruit')" class="sortable" allow-drag>Favorite Fruit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{::item.name}}</td>
                    <td>
                        <div class="{{::item.eyeColor}} eye"></div>
                        {{::item.eyeColor}}
                    </td>
                    <td>{{::item.age}}</td>
                    <td style="background-color:rgb(212, 255, 227)">{{::item.balance}}</td>
                    <td>{{::item.balance}}</td>
                    <td>{{::item.favoriteFruit}}</td>
                </tr>
            </tbody>
        </table>
        <h2>Excell selection</h2>
        <table object-table class="hover-column" data="data" headers="Age, full Name" fields="age,name" sorting="compound" editable="true" on-edit="logChange($oldValue, $newValue)" search="separate" resize="true" drag-columns="true"></table>
        <!--
	<h2>Template</h2>

	<table object-table class="hover-column"
	data="data"
	headers="Age, full Name,money"
	fields="age,name,money"
	sorting="compound"
	search="separate"
	resize="true"
	drag-columns="true">
	<thead>
		<tr>
			<th ng-click="sortBy('age')" ng-class="headerIsSortedClass('Age')" class="sortable" allow-drag>Age</th>
			<th ng-click="sortBy('name')" ng-class="headerIsSortedClass('Name')" class="sortable" allow-drag>Name</th>
			<th ng-click="sortBy('money')" ng-class="headerIsSortedClass('Money')" class="sortable" allow-drag>Money</th>
		</tr>
	</thead>
</table>
<hr>


<h2>Server Paging (Simple)</h2>

<table  object-table
		data="simplePagingExample.exData"
		display="simplePagingExample.limit"
		headers="Age, full Name"
		fields="age,name">
</table>

<div class="loading" ng-show="!simplePagingExample.exData.length">
	<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading Data...
</div>
	<nav>
<ul class="pagination">
	<li ng-class="{disabled : simplePagingExample.currentPage == 1}">
		<a href ng-click="loadSimpleData(simplePagingExample.currentPage-1)">« Prev</a>
	</li>
	<li ng-class="{disabled : simplePagingExample.currentPage == simplePagingExample.pages}">
		<a href ng-click="loadSimpleData(simplePagingExample.currentPage+1)">Next »</a>
	</li>
</ul>
	</nav>

<h2>Server Paging (Advanced)</h2>

<table  object-table
		data="pagingExample.exData"
		display="pagingExample.limit"
		headers="Age, full Name"
		fields="age,name">
</table>

	<nav>
<ul class="pagination">
	<li ng-class="{disabled : pagingExample.currentPage==1}">
		<a href ng-click="loadData(pagingExample.currentPage-1)">« Prev</a>
	</li>

	<li ng-repeat="n in pagingExample.pages"
		ng-click="loadData(n+1)"
		ng-class="{active: n == pagingExample.currentPage-1}">
		<a href="javascript:void(0)">{{n+1}}</a>
	</li>

	<li ng-class="{disabled : pagingExample.currentPage == pagingExample.pages.length}">
		<a href ng-click="loadData(pagingExample.currentPage+1)">Next »</a>
	</li>
</ul>
</nav>

<h2>With footer</h2>

<table object-table
data="data"
headers="Name, Age,Money"
fields="name,age,money"
search="separate"
select="multiply"
selected-model="report.selectedUser">
<tfoot>
	<tr>
		<td>Total users:{{$filtered.length}}</td>
		<td></td>
		<td>Total balance:{{ $owner.getTotalBalance($filtered) }} $</td>
	</tr>
</tfoot>
<tbody>
	<tr>
		<td >{{item.name}}</td>
		<td>{{item.age}}</td>
		<td editable>{{item.money}}</td>
	</tr>
</tbody>
</table>

{{report.selectedUser}}

<h2>Excell selection</h2>

<h2>Theme</h2>
<table  object-table class="hover-column blue-dust"
from-url = "http://beta.json-generator.com/api/json/get/DXXROxj"
data = "exportDataVariable"
headers = "Name, Eye color, Age,Balance,Company,Home address,Favorite Fruit"
fields = "name,eyeColor,age,balance,company,address,favoriteFruit"
resize="true" >
</table>

<h2>Bacis</h2>

<table object-table class="hover-column"
data="data"
display="10"
headers="Age, full Name"
fields="age,name"
paging="true"
sorting="simple"
search="false"
selected-model="data.selected1"
></table>
<pre>
	{{data.selected}}
</pre>

<div class="row"><hr></div>

<h2>Compound sorting</h2>

<table object-table
data="data"
headers="Full Name,Money, Age"
fields="name,money,age"
sorting="compound"
></table>
<div class="row"><hr></div>

<h2>Separate Search</h2>

<table object-table
data="data"
headers="Age, full Name"
fields="age,name"
search="separate"
></table>
<div class="row"><hr></div>


<h2>External resource</h2>

<table object-table
from-url="http://beta.json-generator.com/api/json/get/DXXROxj"
data="exportDataVariable1"
display="2"
headers="Name, Age"
fields="name, age"
></table>
<div class="row"><hr></div>
<h2>Editable cells (all)</h2>

<table object-table
from-url = "http://beta.json-generator.com/api/json/get/DXXROxj"
data = "exportDataVariable2"
display = "10"
headers = "Name, Eye color, Age,Balance,Company,Home address,Favorite Fruit"
fields = "name,eyeColor,age,balance,company,address,favoriteFruit"
sorting = "compound"
editable = "true"
>
</table>
<div class="row"><hr></div>

<h2>Editable cells (Eye color)</h2>

<table object-table
from-url="http://beta.json-generator.com/api/json/get/DXXROxj"
data="exportDataVariable3"
display="10"
headers="Name, Eye color, Age,Balance,Company,Home address,Favorite Fruit"
fields="name,eyeColor,age,balance,company,address,favoriteFruit"
sorting="compound"
>
<tbody>
	<tr>
		<td>{{::item.name}}</td>
		<td editable>{{item.eyeColor}}</td>
		<td>{{::item.age}}</td>
		<td>{{::item.balance}}</td>
		<td>{{::item.company}}</td>
		<td>{{::item.address}}</td>
		<td>{{::item.favoriteFruit}}</td>
	</tr>
</tbody>
</table>
<div class="row"><hr></div>


<h2>Custom headers pattern</h2>

<table object-table
from-url="http://beta.json-generator.com/api/json/get/DXXROxj"
data="exportDataVariable5"
display="10"
headers="Name, Eye color, Age,Balance,Company,Home address,Favorite Fruit"
fields="name,eyeColor,age,balance,company,address,favoriteFruit"
>
<thead>
	<tr>
		<th colspan="3" class="_personal_inf" >Personal information</th>
		<th colspan="4" class="additional_inf">Additional information</th>
	</tr>
	<tr>
		<th ng-click="sortBy('name')" ng-class="headerIsSortedClass('Name')" class="sortable _personal_inf">Name</th>
		<th ng-click="sortBy('eyeColor')" ng-class="headerIsSortedClass('Eye color')" class="sortable  _personal_inf">Eye color</th>
		<th ng-click="sortBy('age')" ng-class="headerIsSortedClass('Age')" class="sortable  _personal_inf">Age</th>
		<th ng-click="sortBy('balance')" ng-class="headerIsSortedClass('Balance')" class="sortable">Balance</th>
		<th ng-click="sortBy('company')" ng-class="headerIsSortedClass('Company')" class="sortable">Company</th>
		<th ng-click="sortBy('address')" ng-class="headerIsSortedClass('Address')" class="sortable">Address</th>
		<th ng-click="sortBy('favoriteFruit')" ng-class="headerIsSortedClass('Favorite Fruit')" class="sortable">Favorite Fruit</th>
	</tr>
</thead>
</table>

<div class="row"><hr></div>

<h2>Rows pattern</h2>

<table object-table
from-url="http://beta.json-generator.com/api/json/get/DXXROxj"
data="exportDataVariable4"
display="10"
headers="Name, Eye color, Age,Balance,Company,Home address,Favorite Fruit"
fields="name,eyeColor,age,balance,company,address,favoriteFruit"
sorting="compound"
>
<tbody>
	<tr>
		<td>{{::item.name}}</td>
		<td><div style="
			background-color:{{::item.eyeColor}};
			width:10px;height:10px;border-radius:5px;
			float:left;margin:5px;
			"></div>
			{{::item.eyeColor}}
		</td>
		<td>{{::item.age}}</td>
		<td style="background-color:rgb(212, 255, 227)">{{::item.balance}}</td>
		<td>{{::item.company}}</td>
		<td>{{::item.address}}</td>
		<td>{{::item.favoriteFruit}}</td>
	</tr>
</tbody>
</table>
<div class="row"><hr></div>

<h2>Custom rows and headers pattern:</h2>

<table object-table
data="data"
data="exportDataVariable"
display="10"
fields="name,age,money"
headers="Name,Age,$$$"
resize="true"
>
<thead style="background-color:yellow">
	<tr>
		<th ng-click="$owner.test()" style="background-color: rgb(68, 184, 231)">Name..(click me)</th>
		<th style="background-color: rgb(229, 102, 229)">Age</th>
		<th style="background-color: rgb(196, 196, 196)">$$$</th>
	</tr>
</thead>

<tbody style="background-color:yellow">
	<tr>
		<td style="background-color: rgb(137, 221, 255)">{{::item.name}}</td>
		<td style="background-color: rgb(254, 153, 254)">{{::item.age}}</td>
		<td style="background-color: rgb(224, 224, 224)">{{::item.money}}</td>
	</tr>
</tbody>
</table>
<div class="row"><hr></div>

<h2>Additional filters</h2>
<div class="col-sm-3">
	<select name="name" id="nameSelect" ng-model="eyeColor" class="form-control">
		<option value='' disabled selected style='display:none;'>Please Choose eye color</option>
		<option value="green">green</option>
		<option value="blue">blue</option>
		<option value="brown">brown</option>
	</select>

</div>
<div class="col-sm-3">
	<input type="text" ng-model="name" class="form-control" placeholder="name">
</div>
<div class="col-sm-3">
	<input type="text" ng-model="all" class="form-control" placeholder="all">
</div>
<br><br>
<table object-table
from-url="http://beta.json-generator.com/api/json/get/DXXROxj"
data="exportDataVariable5"
display="10"
headers="Name, Eye color, Age,Balance,Company,Home address,Favorite Fruit"
fields="name,eyeColor,age,balance,company,address,favoriteFruit"
add-filter="| filter:{'name':$owner.name} |filter:{'eyeColor':$owner.eyeColor} | filter:$owner.all"
search="false"
></table>
<div class="row"><hr></div>
 -->
    </div>
</body>

</html>
