<h2>Editable cells (all)</h2>

	<table object-table 
	from-url = "http://beta.json-generator.com/api/json/get/DXXROxj" 
	data = "exportDataVariable2" 
	display = "10" 
	headers = "Name, Eye color, Age,Balance,Company,Home address,Favorite Fruit" 
	fields = "name,eyeColor,age,balance,company,address,favoriteFruit" 
	sorting = "compound" 
	editable = "true"
	>
</table>
<hr>

<!-- CODE -->
<h3>In template:</h3>
<textarea ui-codemirror ui-codemirror-opts="editorOptions">
	<table  object-table 
			from-url = "http://beta.json-generator.com/api/json/get/DXXROxj" 
			data = "exportDataVariable1" 
			display = "10" 
			headers = "Name, Eye color, Age,Balance,Company,Home address,Favorite Fruit" 
			fields = "name,eyeColor,age,balance,company,address,favoriteFruit" 
			sorting = "compound" 
			editable = "true">
	</table>
</textarea>

<div class="bs-callout bs-callout-primary">
	<h4>Notice:</h4>
	Add attribute <code>editable = "true"</code> to allow to edit all cells.
</div>

<h2>Editable single column (Eye color)</h2>

<table object-table 
from-url="http://beta.json-generator.com/api/json/get/DXXROxj" 
data="exportDataVariable3" 
display="10" 
headers="Name, Eye color, Age,Balance,Company,Home address,Favorite Fruit" 
fields="name,eyeColor,age,balance,company,address,favoriteFruit" 
sorting="compound"
>
<tbody>
	<tr>
		<td>{{::item.name}}</td>
		<td editable>{{item.eyeColor}}</td>
		<td>{{::item.age}}</td>
		<td>{{::item.balance}}</td>
		<td>{{::item.company}}</td>
		<td>{{::item.address}}</td>
		<td>{{::item.favoriteFruit}}</td>
	</tr>
</tbody>
</table>
<hr>

<!-- CODE -->
<h3>In template:</h3>
<textarea ui-codemirror ui-codemirror-opts="editorOptions">
	<table  object-table 
			from-url="http://beta.json-generator.com/api/json/get/DXXROxj" 
			data="exportDataVariable2" 
			display="10" 
			headers="Name, Eye color, Age,Balance,Company,Home address,Favorite Fruit" 
			fields="name,eyeColor,age,balance,company,address,favoriteFruit" 
			sorting="compound">
		<tbody>
			<tr>
				<td>{{::item.name}}</td>
				<td editable>{{item.eyeColor}}</td>
				<td>{{::item.age}}</td>
				<td>{{::item.balance}}</td>
				<td>{{::item.company}}</td>
				<td>{{::item.address}}</td>
				<td>{{::item.favoriteFruit}}</td>
			</tr>
		</tbody>
	</table>
</textarea>

<div class="bs-callout bs-callout-primary">
	<h4>Notice:</h4>
	Add attribute <code>editable</code> to cell for editing.
</div>

