<h2>Pagination</h2>

<table object-table 
data="data" 
display="10" 
headers="Age, full Name" 
fields="age,name" 
sorting="simple" 
search="false"
></table>
<hr>
<div class="bs-callout bs-callout-primary">
	<h4>Notice</h4>
	paging ="true" by defaults.
</div>
<!-- CODE -->

<h3>In template:</h3>
<textarea ui-codemirror ui-codemirror-opts="editorOptions">
	<table  object-table 
			data="data" 
			display="10" 
			headers="Age, full Name" 
			fields="age,name" 
			sorting="simple" 
			search="false">
	</table>
</textarea>