<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>jTable Example</title>
<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../src/css/object-table-style.css">
</head>
<!-- bower:js -->
<script src="../example/bower_components/angular/angular.js"></script>
<!-- endbower -->

<script type="text/javascript" src="../src/js/directive.js"></script>
<script type="text/javascript" src="../src/js/objectTableCtrl.js"></script>
<script type="text/javascript" src="../src/js/objectTablePaggingCtrl.js"></script>
<script type="text/javascript" src="../src/js/paggingDirective.js"></script>

<script type="text/javascript" src="../example/example.js"></script>
<body ng-app="test" ng-controller="gTableTest">

<h2>Just headers</h2>

<table object-table 
data="data" 
display="3" 
headers="Name, Age, Money" 
pagging="false" 
search="false"
></table>
####################################### 

<h2>Headers and properties</h2>

<table object-table 
data="data" 
display="10" 
headers="Name, Age" 
fields="name, age"
></table>
#######################################

<h2>External resource</h2>

<table object-table 
from-url="/example/fake-data.json" 
data="exportDataVariable" 
display="2" 
headers="Name, Age" 
fields="name, age"
></table>
#######################################

<h2>External resource JUSt with headers</h2>

<table object-table 
from-url="/example/fake-data.json" 
data="exportDataVariable" 
display="10" 
headers="Name, Age, money" 
></table>
#######################################

<h2>Headers pattern</h2>

<table object-table 
from-url="/example/fake-data.json" 
data="exportDataVariable" 
display="10" 
>
<thead style="background-color:yellow">
	<tr>
		<th style="background-color: green">1</th>
		<th style="background-color: red">Second</th>
		<th style="background-color: gray">3</th>
	</tr>
</thead>
</table>
#######################################

<h2>ROWs pattern</h2>

<table object-table 
from-url="/example/fake-data.json" 
data="exportDataVariable" 
display="10" 
headers="Name, Age, money" 
>
<tbody style="background-color:yellow">
	<tr>
		<td style="background-color: green">{{::item.name}}</td>
		<td style="background-color: red">{{::item.age}}</td>
		<td style="background-color: gray">{{::item.money}}</td>
	</tr>
</tbody>
</table>
#######################################

<h2>ROWs and headers pattern</h2>

<table object-table 
data="data" 
data="exportDataVariable" 
display="10" 
>
<thead style="background-color:yellow">
	<tr>
		<th ng-click="$owner.test()" style="background-color: blue">1</th>
		<th style="background-color: magenta">1</th>
		<th style="background-color: gray">1</th>
	</tr>
</thead>

<tbody style="background-color:yellow">
	<tr>
		<td style="background-color: green">{{::item.name}}</td>
		<td style="background-color: red">{{::item.age}}</td>
		<td style="background-color: gray">{{::item.money}}</td>
	</tr>
</tbody>
</table>
#######################################  

<h2>External resource + additionalFilter</h2>
	<input type="text" ng-model="name" placeholder="name">
	<input type="text" ng-model="age" placeholder="age">
	<input type="text" ng-model="all" placeholder="all">
<br><br>
	<table object-table 
	from-url="/example/fake-data.json" 
	data="exportDataVariable" 
	display="10" 
	headers="age,money,name" 
	add-filter="| filter:{'name':$owner.name} |filter:{'age':$owner.age} | filter:$owner.all" 
	search="false"
	></table>
	<!-- ####################################### -->

</body>
</html>